<div
  class="mb-10 flex flex-col gap-5 md:flex-row-reverse md:justify-between md:gap-20"
>
  <!-- Search -->
  <div class="flex-grow lg:pl-30 xl:pl-70 2xl:pl-100">
    <input
      type="text"
      placeholder="Search by name or email"
      class="w-full rounded border px-3 py-2"
      [value]="searchTextValue"
      (input)="searchTextChange.emit($any($event.target).value)"
    />
  </div>

  <!--Buttons-->
  <div class="button-row flex justify-between md:gap-5">
    <div class="buttons flex gap-1 md:gap-3">
      <button
        (click)="selectAllUsers.emit()"
        class="rounded-2xl border bg-gray-200 md:px-3 md:py-1"
      >
        <span class="text-xs font-semibold md:text-base md:font-medium"
          >Select All</span
        >
      </button>

      <button
        (click)="openBulkDeletionPopup.emit()"
        [disabled]="selectedUsers.size === 0"
        class="rounded-2xl bg-red-600 text-white disabled:opacity-50 md:px-4 md:py-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
          />
        </svg>
      </button>

      <button
        (click)="blockInBulk.emit(true)"
        [disabled]="selectedUsers.size === 0"
        class="rounded-2xl bg-yellow-500 text-white disabled:opacity-50 md:px-4 md:py-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
          />
        </svg>
      </button>

      <button
        (click)="blockInBulk.emit(false)"
        [disabled]="selectedUsers.size === 0"
        class="rounded-2xl bg-green-600 text-white disabled:opacity-50 md:px-4 md:py-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
          />
        </svg>
      </button>
    </div>

    <div>
      <button
        (click)="toggleSortDirection.emit()"
        class="flex items-center gap-2 rounded-2xl border bg-gray-600 px-4 py-2 font-semibold text-white shadow hover:bg-gray-700 md:hidden"
      >
        <span class="">
          @if (sortAscendingValue) {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m4.5 15.75 7.5-7.5 7.5 7.5"
              />
            </svg>
          } @else {
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m19.5 8.25-7.5 7.5-7.5-7.5"
              />
            </svg>
          }
        </span>
      </button>
    </div>
  </div>
</div>
<!-- Filters -->
<div class="mb-4 justify-between md:flex">
  <div class="flex flex-row items-center justify-between gap-2">
    <div class="flex w-full justify-between gap-1 sm:gap-2 md:justify-start">
      <button
        (click)="statusFilterChange.emit('all')"
        [ngClass]="
          statusFilterValue === 'all' ? 'bg-blue-500 text-white' : 'bg-white'
        "
        class="rounded border border-black px-2 py-0.5 text-sm sm:px-3 sm:py-1 sm:text-base"
      >
        All
      </button>
      <button
        (click)="statusFilterChange.emit('vip')"
        [ngClass]="
          statusFilterValue === 'vip' ? 'bg-blue-500 text-white' : 'bg-white'
        "
        class="rounded border border-black px-2 py-0.5 text-sm sm:px-3 sm:py-1 sm:text-base"
      >
        VIP
      </button>
      <button
        (click)="statusFilterChange.emit('active')"
        [ngClass]="
          statusFilterValue === 'active' ? 'bg-blue-500 text-white' : 'bg-white'
        "
        class="rounded border border-black px-2 py-0.5 text-sm sm:px-3 sm:py-1 sm:text-base"
      >
        Active
      </button>
      <button
        (click)="statusFilterChange.emit('blocked')"
        [ngClass]="
          statusFilterValue === 'blocked'
            ? 'bg-blue-500 text-white'
            : 'bg-white'
        "
        class="rounded border border-black px-2 py-0.5 text-sm sm:px-3 sm:py-1 sm:text-base"
      >
        Blocked
      </button>
      <button
        (click)="statusFilterChange.emit('inactive')"
        [ngClass]="
          statusFilterValue === 'inactive'
            ? 'bg-blue-500 text-white'
            : 'bg-white'
        "
        class="rounded border border-black px-2 py-0.5 text-sm sm:px-3 sm:py-1 sm:text-base"
      >
        Inactive
      </button>
    </div>
  </div>

  <div class="py-2">
    <button
      (click)="toggleSortDirection.emit()"
      class="hidden items-center gap-2 rounded-2xl border bg-gray-600 px-4 py-2 font-semibold text-white shadow hover:bg-gray-700 md:flex"
    >
      <span class="hidden text-base font-medium md:block"
        >Sorting: {{ sortAscendingValue ? 'Ascending' : 'Descending' }}</span
      >
      <span class="">
        @if (sortAscendingValue) {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 15.75 7.5-7.5 7.5 7.5"
            />
          </svg>
        } @else {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"
            />
          </svg>
        }
      </span>
    </button>
  </div>
</div>
