<div class="mb-10">
  <span class="text-purpleMain text-2xl font-bold md:text-3xl">User Table</span>
</div>
<app-toolbar
  [selectedUsers]="selectedUsers"
  [searchTextValue]="searchText()"
  [sortAscendingValue]="sortAscending()"
  [statusFilterValue]="statusFilter()"
  (selectAllUsers)="selectAllUsers()"
  (openBulkDeletionPopup)="openBulkDeletionPopup()"
  (blockInBulk)="blockInBulk($event)"
  (addRandomUsers)="addRandomUsers()"
  (toggleSortDirection)="toggleSortDirection()"
  (searchTextChange)="searchText.set($event)"
  (statusFilterChange)="statusFilter.set($event)"
></app-toolbar>

<!-- User Cards -->
<div class="flex flex-col gap-4">
  @for (user of paginatedUsers(); track trackByUserId($index, user)) {
    <div
      class="grid items-center gap-4 rounded-lg border p-4 shadow-sm transition hover:shadow-md md:grid-cols-[40px_50px_60px_1fr_90px_100px] lg:grid-cols-[50px_60px_60px_1fr_120px_120px_100px]"
      [ngClass]="{ 'bg-red-50': user.blocked, 'bg-white': !user.blocked }"
    >
      <!-- Checkbox -->
      <div class="flex justify-start md:justify-center">
        <input
          type="checkbox"
          [checked]="isUserSelected(user)"
          (change)="toggleUserSelection(user)"
          class="h-5 w-5"
        />
        <span class="ml-3 font-mono md:hidden">Select a user</span>
      </div>

      <!-- ID -->
      <div class="hidden text-center font-mono md:block">
        <span
          [ngClass]="{
            'bg-gray-200': user.blocked,
            'bg-gray-100': !user.blocked,
          }"
          class="rounded-2xl bg-gray-100 px-3 py-1 text-gray-600 shadow-sm"
          >#{{ user.userId }}</span
        >
      </div>

      <!-- Avatar -->
      <div class="flex items-center justify-start md:justify-center">
        <div
          class="mt-2 h-20 w-20 overflow-hidden rounded-full border-3 md:mt-0 md:h-12 md:w-12"
          [ngClass]="{
            'border-green-500': user.active,
            'border-gray-500': !user.active,
          }"
        >
          <img
            src="{{ user.picture }}"
            alt="avatar"
            class="h-full w-full object-cover"
          />
        </div>
      </div>

      <!-- Username + Email -->

      <div class="flex flex-col justify-center truncate">
        <span
          class="flex items-center justify-start gap-3 truncate font-semibold"
          >{{ user.username }}
          <span
            [ngClass]="{
              'bg-gray-100': !user.blocked,
              'bg-gray-200': user.blocked,
            }"
            class="rounded-2xl px-2 py-0.5 font-mono text-xs text-gray-600 md:hidden"
          >
            #{{ user.userId }}
          </span>
          @if (user.blocked) {
            <app-lock-icon></app-lock-icon>
          }
        </span>

        <span class="truncate text-sm break-words text-gray-500">{{
          user.email
        }}</span>
      </div>

      <!-- Mobile Status -->
      <div class="flex flex-wrap gap-2 md:gap-4 lg:hidden">
        <span
          [ngClass]="{
            'bg-green-100 px-4.5 text-green-700': user.active,
            'bg-gray-200 px-3 text-gray-700': !user.active,
          }"
          class="rounded-full py-1 text-xs shadow-sm md:text-sm md:font-semibold"
        >
          {{ user.active ? '  Active' : 'Inactive' }}
        </span>
        <span
          [ngClass]="{
            'bg-yellow-100 px-7 text-yellow-700': user.vip,
            'bg-purple-100 px-3 text-purple-700': !user.vip,
          }"
          class="rounded-full py-1 text-xs shadow-sm md:text-sm md:font-semibold"
          >{{ user.vip ? 'VIP' : 'Non-VIP' }}</span
        >
      </div>
      <!--Desktop status-->
      <div class="hidden text-center lg:block">
        <span
          [ngClass]="{
            'bg-green-100 px-4.5 text-green-700': user.active,
            'bg-gray-200 px-3 text-gray-700': !user.active,
          }"
          class="rounded-full py-1 shadow-sm"
        >
          {{ user.active ? '  Active' : 'Inactive' }}
        </span>
      </div>
      <div class="hidden text-center lg:block">
        <span
          [ngClass]="{
            'bg-yellow-100 px-7 text-yellow-700': user.vip,
            'bg-purple-100 px-3 text-purple-700': !user.vip,
          }"
          class="rounded-full py-1 shadow-sm"
          >{{ user.vip ? 'VIP' : 'Non-VIP' }}</span
        >
      </div>

      <!-- Actions -->
      <div class="flex items-end gap-2 md:flex-col">
        <button
          class="w-full rounded border bg-gray-200 px-2 py-1 text-center md:w-[80px]"
          (click)="toggleBlocked(user)"
        >
          {{ user.blocked ? 'Unblock' : 'Block' }}
        </button>
        <button
          class="w-full rounded border bg-red-600 px-2 py-1 text-white md:w-[80px]"
          (click)="deleteUserPopUp(user)"
        >
          Delete
        </button>
      </div>
    </div>
  }
</div>

<!-- Pagination -->
@if (visibleUsers().length > 0) {
  <div class="mt-4 flex flex-wrap items-center justify-center gap-2">
    <button
      (click)="prevPage()"
      [disabled]="currentPage() === 1"
      class="min-w-[50px] rounded border bg-gray-200 px-3 py-1"
    >
      Prev
    </button>

    @for (
      page of [].constructor(totalPages());
      track pageIndex;
      let pageIndex = $index
    ) {
      <button
        (click)="goToPage(pageIndex + 1)"
        [class.bg-blue-500]="currentPage() === pageIndex + 1"
        class="min-w-[40px] rounded border px-3 py-1"
      >
        {{ pageIndex + 1 }}
      </button>
    }

    <button
      (click)="nextPage()"
      [disabled]="currentPage() === totalPages()"
      class="min-w-[50px] rounded border bg-gray-200 px-3 py-1"
    >
      Next
    </button>
  </div>
}
