<app-add-user-form></app-add-user-form>
<div class="my-4 flex gap-4">
  <button
    class="rounded bg-red-600 px-4 py-2 text-white"
    (click)="openBulkDeletionPopup()"
    [disabled]="selectedUsers.size === 0"
  >
    Delete Selected
  </button>

  <button
    class="rounded bg-yellow-500 px-4 py-2 text-white"
    (click)="blockInBulk(true)"
    [disabled]="selectedUsers.size === 0"
  >
    Block Selected
  </button>

  <button
    class="rounded bg-green-600 px-4 py-2 text-white"
    (click)="blockInBulk(false)"
    [disabled]="selectedUsers.size === 0"
  >
    Unblock Selected
  </button>
  <button
    (click)="addRandomUsers()"
    class="rounded bg-blue-600 px-4 py-2 text-white"
  >
    Add 1 Random User
  </button>
  <input
    type="text"
    placeholder="Search by name or email"
    class="mb-4 w-full rounded border px-3 py-2"
    [value]="searchText()"
    (input)="searchText.set($any($event.target).value)"
  />
</div>
<div class="relative h-fit w-full">
  <table
    class="table w-full table-fixed border-collapse border-2 border-slate-900"
  >
    <thead>
      <tr>
        @for (column of columns; track column) {
          <th class="border border-slate-900">
            {{ column }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (user of visibleUsers(); track user) {
        <tr>
          <td class="border border-slate-900 text-center">
            <input
              type="checkbox"
              type="checkbox"
              [checked]="isUserSelected(user)"
              (change)="toggleUserSelection(user)"
            />
          </td>
          <td class="border border-slate-900 text-center">
            {{ user.userId }}
          </td>
          <td class="border border-slate-900 text-center">
            <div class="flex-center flex h-16">
              <div
                class="h-12 w-12 overflow-hidden rounded-full border-4"
                [ngClass]="{
                  'border-green-500': user.active,
                  'border-red-500': !user.active,
                }"
              >
                <img
                  src="{{ user.picture }}"
                  alt="user avatar"
                  class="h-full w-full object-cover"
                />
              </div>
            </div>
          </td>
          <td class="border border-slate-900 pl-[2vh]">
            <div class="flex h-full gap-2">
              {{ user.username }}
              @if (user.blocked === true) {
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 24 24"
                  width="24"
                  height="24"
                >
                  <path
                    d="M12 2C9.8 2 8 3.8 8 6v4H7c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2v-8c0-1.1-.9-2-2-2h-1V6c0-2.2-1.8-4-4-4zm-2 4c0-1.1.9-2 2-2s2 .9 2 2v4h-4V6zm2 10c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z"
                  />
                </svg>
              }
            </div>
          </td>
          <td class="border border-slate-900 pl-[2vh]">{{ user.active }}</td>
          <td class="border border-slate-900 pl-[2vh]">{{ user.vip }}</td>
          <td class="border border-slate-900">{{ user.email }}</td>
          <td class="border border-slate-900 pl-[2vh] text-center">
            <button (click)="toggleBlocked(user)">
              {{ user.blocked ? 'Unblock' : 'Block' }}</button
            ><button (click)="deleteUserPopUp(user)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if (deletionProcess && selectedUser) {
    <div
      class="popup bg-opacity-10 fixed inset-0 z-50 flex items-center justify-center bg-black"
    >
      <div
        class="w-[90%] max-w-md rounded-xl bg-white p-6 text-center shadow-lg"
      >
        <div class="mb-4 text-lg font-semibold text-black">
          Are you sure you want to delete
          <strong>{{ selectedUser.username }}</strong
          >?
        </div>
        <div class="mt-6 flex justify-center gap-4">
          <button
            class="rounded-lg bg-red-600 px-4 py-2 text-white hover:bg-red-700"
            (click)="deleteUser()"
          >
            Delete
          </button>
          <button
            class="rounded-lg bg-gray-300 px-4 py-2 hover:bg-gray-400"
            (click)="cancelDelete()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  }
  @if (deletionPopupVisible) {
    <div
      class="bg-opacity-50 fixed inset-0 z-50 flex items-center justify-center bg-black"
    >
      <div class="w-[300px] rounded-lg bg-white p-6 text-center shadow-lg">
        <h2 class="mb-2 text-lg font-semibold text-black">
          Delete {{ usersToDelete.length }} user(s)?
        </h2>
        <ul
          class="mb-4 max-h-40 overflow-y-auto text-left text-sm text-gray-700"
        >
          @for (user of usersToDelete; track user) {
            <li>• {{ user.username }}</li>
          }
        </ul>
        <p class="mb-6 text-sm text-gray-600">This action cannot be undone.</p>

        <div class="flex justify-around">
          <button
            (click)="confirmBulkDelete()"
            class="rounded bg-red-600 px-4 py-2 text-white hover:bg-red-700"
          >
            Delete
          </button>
          <button
            (click)="closePopup()"
            class="rounded bg-gray-300 px-4 py-2 text-black hover:bg-gray-400"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  }
</div>
