<nav
  class="z-50 flex h-full justify-between p-6 text-white xl:flex-col xl:justify-start xl:gap-10"
>
  @if (auth.currentUser(); as user) {
    <div
      class="flex w-full items-center justify-between space-y-6 xl:flex-col xl:justify-start xl:gap-10"
    >
      <span class="text-lg font-semibold xl:text-3xl">
        Welcome, <span class="text-purple-400">{{ user.email }}</span>
      </span>

      <button
        class="rounded-2xl xl:hidden"
        (click)="toggleMenu(); $event.stopPropagation()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 md:hidden"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 9h16.5m-16.5 6.75h16.5"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="hidden size-6 md:block"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m19.5 8.25-7.5 7.5-7.5-7.5"
          />
        </svg>
      </button>
    </div>
  }
  <div class="hidden w-full flex-col gap-5 bg-pink-400 xl:flex">
    <button
      (click)="toggleMenu(); $event.stopPropagation()"
      class="w-full rounded-lg bg-blue-600 px-4 py-2 text-white hover:bg-blue-700"
    >
      Settings
    </button>

    <button class="w-full rounded-lg bg-gray-200 px-4 py-2 hover:bg-gray-300">
      Dark Mode
    </button>
    <button
      (click)="logout()"
      class="w-full rounded-lg bg-red-600 px-4 py-2 text-white hover:bg-red-700"
    >
      Logout
    </button>
  </div>
</nav>
